<!-- CARTÕES COM COM AS INFORMAÇÕES DO COOPERADOR -->
<div class="d-flex justify-content-start" style="margin-left: 30px" *ngIf="cooperador!=''">
  <!-- 1º CARTÃO -->
  <div class="cooperador-infor">
    <h6>Situação cadastral do CPF</h6>
    <span class="text-muted">Consulta na Receita Federal</span>
    <div class="item">
      <div class="icone">
        <i class="fa fa-user text-muted" aria-hidden="true"></i>
      </div>
      <div>
        <div class="titulo text-muted">Nome</div>
        <div class="nome text-muted">{{cooperador.nome}}</div>
      </div>
    </div>
    <div class="item">
      <div class="icone">
        <i class="fa fa-check-circle-o situacao-ativo" aria-hidden="true"></i>
      </div>
      <div>
        <div class="titulo text-muted">Situação do CPF</div>
        <div class="nome text-muted">{{cooperador.situacao}}</div>
      </div>
    </div>
  </div>
  <!-- FIM DO 1º CARTÃO -->
  <!-- 2º CARTÃO -->
  <div class="cooperador-infor">
    <h6>Conta aplicação</h6>
    <span class="text-muted">Cooperativa Viacredi</span>
    <div class="item">
      <div class="icone">
        <i class="fa fa-credit-card text-muted" aria-hidden="true"></i>
      </div>
      <div>
        <div class="titulo text-muted">Número da conta</div>
        <div class="nome text-muted">{{cooperador.conta_aplicacao}}</div>
      </div>
    </div>
    <div class="card-duplicacao">
      Duplicar conta
    </div>
  </div>
  <!-- FIM DO 2º CARTÃO -->
  <!-- 3º CARTÃO -->
  <div class="cooperador-infor">
    <h6>Conta corrente</h6>
    <span class="text-muted">Cooperativa Viacred</span>
    <div class="item">
      <div class="icone">
        <i class="fa fa-credit-card text-muted" aria-hidden="true"></i>
      </div>
      <div>
        <div class="titulo text-muted">Número da conta</div>
        <div class="nome text-muted">{{cooperador.conta_corrente}}</div>
      </div>
    </div>
    <div class="card-duplicacao">
      Duplicar conta
    </div>
  </div>
</div>
<!-- FIM DO 3º CARTÃO -->
<!-- CARTÃO COM MENSAGEM DE COOPERADOR NÃO ENCONTRADO -->
<div class="d-flex justify-content-start" style="margin-left: 30px" *ngIf="ativo">
  <div class="usuario-inexistente">
    Cooperador não encontrado!
  </div>
</div>
<!-- FIM DA MENSAGEM DE COOPERADOR NÃO ENCONTRADO -->
