<!-- MENU LATERIAL -->
<div class="menu-lateral p-3">
        <img src="./../../assets/logo.png" width="80%" class="mt-2" alt="">
        <div class="mt-4">
                <a class="item" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </div>
        <div class="mt-2">
                <a class="item active" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
        <div class="mt-2">
                <a class="item" href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
        </div>
        <div class="mt-2">
                <a class="item" href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
        </div>
        <div class="mt-2">
                <a class="item" href="#"><i class="fa fa-tasks" aria-hidden="true"></i></a>
        </div>
        <div class="mt-2">
                <a class="item" href="#"><i class="fa fa-university" aria-hidden="true"></i></a>
        </div>
</div>
<!-- FIM DO MENU LATERAL -->
