.menu-superior {
    .breadcrumb {
        .item {
            text-decoration: none;
            color: rgb(112, 112, 112);
        }
    }
    .titleMenuSup{
        font-weight: bold;
        margin-bottom: 0;
    }
}
