<!-- MENU SUPERIOR -->
<div class="d-flex justify-content-between align-items-center bg-white menu-superior p-3">
  <!-- BREADCRUMP -->
    <div>
        <h3 class="titleMenuSup">NOVA ADMINISSÃO COOPERADO</h3>
        <div class="d-flex justify-content-center breadcrumb mb-0">
            <a href="#" class="item">Cadastro&nbsp;/&nbsp;</a>
            <a href="#" class="item">Admissão do Cooperado&nbsp;/&nbsp;</a>
            <a href="#" class="item">Nova Admissão de Cooperado</a>
        </div>
    </div>
  <!-- FIM BREADCRUMP -->
    <div class="d-flex justify-content-between align-items-center">
      <!-- NOTIFICAÇÕES -->
        <div class="conteiner-notificacao">
            <div class="notificacao">
              <div>7</div>
            </div>
            <a class="item active" href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
        </div>
        <!-- FIM NOTIFICAÇÕES -->
        <!-- BOTÃO VIACREDI -->
        <a href="#" class="botao-viacredi">VIACREDI</a>
        <!-- FIM BOTÃO VIACREDI -->
        <!-- AVATAR -->
        <div class="avatar">
            <img src="../assets/perfil.jpg" alt="Imagem de Perfil">
        </div>
        <!-- FIM AVATAR -->
    </div>
</div>
<!-- FIM MENU SUPERIOR -->
