<div class="d-flex justify-content-between align-items-center bg-white menu-superior p-3">
    <div>
        <h3 class="titleMenuSup">NOVA ADMINISSÃO COOPERADO</h3>
        <div class="d-flex justify-content-center breadcrumb mb-0">
            <a href="#" class="item">Cadastro&nbsp;/&nbsp;</a>
            <a href="#" class="item">Admissão do Cooperado&nbsp;/&nbsp;</a>
            <a href="#" class="item">Nova Admissão de Cooperado</a>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div style="position: relative">
            <div
                style="position: absolute; top: 2px; right: -4px; width:5px; height:5px; background: red; padding: 5px; border-radius: 50%; font-size: 7px">
            </div>
            <a class="item active" href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
        </div>
        <a href=""
            style="border: 1px solid #1b5c7c; color: #1b5c7c; border-radius: 40px; padding: 5px 20px; text-decoration: none; font-weight: bold;   margin: 0px 20px;">VIACREDI</a>
        <div style="height: 40px; width: 40px; border-radius: 50%; overflow: hidden;">
            <img src="../assets/perfil.jpg" style="object-fit: cover; width: 100%; height: 100%;"
                alt="Imagem de Perfil">
        </div>
    </div>
</div>